:root{
	--TTwhite: hsl(0, 0%, 100%); 
	--TToffwhite: hsl(0, 0%, 95%); 
	--TTgrey: hsl(0, 0%, 85%); 
	--TTdarkgrey: hsl(0, 0%, 45%); 
	--TTblack: hsl(0, 0%, 15%); 
	--TTred: hsl(355, 100%, 60%);
	--TTblue: hsl(204, 100%, 48%);
	--TTfont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
} 
.main_TT{
	width:550px;
	height:900px;
	background-color:var(--TTwhite);
	font-family: var(TTfont);
}
.topPart_TT{
	width:100%;
	height: 50px;
	color: var(--TTblack);
}
.topA_TT{
	width:10%;
	height:50px;
	float:left;
	font-size:1.4em;
	line-height:25px;
}
.topB_TT{
	width:68%;
	height:50px;
	float:left;
	font-size:0.9em;
	line-height:25px;
	text-align:center;
}
.subtext_TT{
	color: var(--TTgrey);
	font-size:0.6em;
}
.pres_TT{
	font-size:1em;
	text-align:center;
}
.icone_TT{
	width:130px;
	height:130px;
	border-radius:65px;
	box-shadow: 0 0 1px 3px #000 inset;
	margin: 0 auto;
}
.info_TT{
	font-size:1.2em;
	font-weight:700;
	color: var(--TTblack);
	width:70%;
	margin: 0 auto;
}
.infoSub_TT{
	font-size:0.9em;
	font-weight: 100;
	color:var(--TTgrey)
}
.infoLeft_TT{
	width:33%;
	float:left;
	border-right: 2px solid var(--TTgrey);
}
.infoRight_TT{
	width:33%;
	float:left;
	border-left: 2px solid var(--TTgrey);
}
.infoDiv_TT{
	width:33%;
	float:left;
}
.buttonDiv_TT{
	width:70%;
	margin: 0 auto;
}
.buttonA_TT{
	width:60%;
	float:left;
	margin: 3px;
	text-align:center;
}
.buttonB_TT{
	width:20%;
	float:left;
	margin:3px;
	text-align:center;
}
.smallInfo_TT{
	width:50%;
	text-align:center; 
	color: var(--TTblack);
	font-weight: 350;
}
.rowButton_TT{
	width:100%;
	height:50px;
	border-bottom: 2px solid var(--TTgrey)
}
.button_TT{
	width:25%;
	height:60px;
	float:left;
	text-align:center;
	color: var(TTdarkgrey);
}
.hovering{
	border-bottom: 2px solid var(--TTblack);
	color: var(--TTblack);
}
.img_TT{
	width:33%;
	height:150px;
	float:left;
	background-size:auto 100%;
}
.stat_TT{
	color:var(--TToffwhite);
	font-weight:500;
}


